.circle {
    list-style-type: circle;
}

.square {
    list-style-type: square;
}

.alpha {
    list-style-type: upper-alpha;
}

.roman {
    list-style-type: upper-roman;
}

.img {
    list-style-image: url("hellokitty_b.png");
    width: 200px;
}

.mau {
    list-style-image: url("hellokitty_b.png");
    width: 200px;
    list-style-position: inside;
}