    table {
        border: solid black;
        margin: 0 auto;
        font-family: sans-serif;
        padding: 10px;
        border-spacing: 0px;
    }
    
    th {
        background-color: rgb(177, 36, 36);
        color: white;
        padding: 10px;
    }
    
    td {
        color: rgb(4, 4, 65);
        padding: 10px;
    }
    
    tr:nth-child(odd) {
        background-color: gray;
    }
    
    tr:hover {
        background-color: yellow;
    }